* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #eee;
}

#container {
    display: flex;
    align-items: center;
    margin: 50px auto;
    flex-direction: column;
}

section {
    margin: 20px 5;

}

.main-top {
    width: 350px;
    text-align: center;
    margin-bottom: 5px;
    padding: 50px 50px;
    background-color: #fff;
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    height: 150px;
    margin: 0 auto;
}


#url  {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    border-radius: 3px;
}
#email{
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    border-radius: 3px;

}
#acc{
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    border-radius: 3px;

}

 #SL{
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    border-radius: 3px;
 }

input:focus {
    outline: none;
}

#btn {
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 6px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
h1{
    align-items: center;
    font-size: 40px;
    color: #e50000;
    text-align: center;
    
}












